<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flights index.ejs</title>
</head>
<body>
    <h1>ALL FLIGHTS</h1>
    <table id="list">    
        <thead>
            <tr>
                <th>Airport</th>
                <th>Airline</th>
                <th>Flight no.</th>
                <th>Date of Dep</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f){ %>
                <tr>
                    <td><%= f.airport %></td>
                    <td><%= f.airline %></td>
                    <td><%= f.flightNo %></td>
                    <td><%= f.departs %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div>
        <a href="/flights/new">Add Flight</a>
        <a href="/">HOME</a>
    </div>
</body>
</html>